.htmlProjector {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.htmlProjector code {
    border-radius: 0.5rem;
    background-color: var(--presentation-code-bg);
    font-size: var(--presentation-text-size);
}

/* Edge cases */
.htmlProjector h1 code {
    --presentation-text-size: var(--header-1);
}