.Projector {
    width:100%;
    height: 100%;
    overflow: hidden;
}

.Projector img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-color: #222;
    overflow: hidden;
}